<div class="card-body">
    <div class="mb-4">
        <h2 class="mb-2">An email has been sent with instructions to reset your password.</h2>
        <span>Please check your email and enter the authorization code in the message we sent to {{email}}</span>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="text-left col-lg-8">
            <div class="form-group">
                <label for="auth-code" class="sr-only">Authorization code</label>
                <input class="form-control form-control-lg" autofocus="" required="" type="email" name="code" id="auth-code" placeholder="Authorization code">
            </div>
            <div class="text-center mb-4">
                <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            </div>
        </div>
    </div>
    <!--end of row-->
</div>
