<div class="main-container bg-gradient">
    <img src="assets/img/guilloche-1.svg" class="bg-image opacity-10">
    <section class="space-md height-100">
        <div class="container align-self-start">
            <div class="row mb-5">
                <div class="col text-center">
                    <a routerLink="/">
                        <img alt="Image" src="assets/img/logo-white.svg">
                    </a>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row justify-content-center">
                <div class="col-11 col-md-8 col-lg-7">
                    <div class="card card-lg text-center">
                        <router-outlet></router-outlet>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>