<div class="row">
    <div class="col-md-12">
        <mat-card class="balance-panel">
            <mat-card-header>
                <mat-card-title style="font-size: 24px;">Welcome, <span style="font-weight: bold;">{{userName$ | async}}!</span></mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <mat-list role="list" *ngFor="let balance of balanceData">
                    <mat-list-item role="listitem">{{balance.asset}}: {{balance.balance | currency:balance.asset}} available, {{balance.frozenBalance | currency:balance.asset}} is frozen</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>