<div class="nav-container">
  <div class="position-static bg-gradient navbar-dark" data-sticky="top">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand">
          <img alt="Elements Backoffice" src="assets/img/logo-white.svg" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="icons8-menu h5"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between text-center" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" routerLink="/">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/administration">Administration</a></li>
          </ul>
        </div>

        <ul class="navbar-nav">

          <li class="nav-item dropdown" dropdown>
            <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow p-lg-0" dropdownToggle>
              <i class="fa fa-cog settings-dropdown"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" dropdownMenu>
              <a class="dropdown-item" routerLink="/settings">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <!--end of container-->
  </div>
</div>
