<app-header></app-header>
<section>
  <div class="container">
        <ul class="feature-list row">
    <li class="col-6 col-md-4">
        <a class="card text-center" routerLink="/clients">
            <div class="card-body">
          <img src="assets/img/icons8-find-user-male.svg" class="mb-2" alt="" />
                <h6 class="title-decorative">Client Manager</h6>
            </div>
        </a>
    </li>

            <li class="col-6 col-md-4">
                <a class="card text-center" routerLink="/clients">
                    <div class="card-body">
          <img src="assets/img/icons8-checked-user-male.svg" class="mb-2" alt="" />
                        <h6 class="title-decorative">Onboarding</h6>
                    </div>
                </a>
            </li>
    <li class="col-6 col-md-4">
        <a class="card text-center" routerLink="/deposits">
            <div class="card-body">
                <img src="assets/img/icons8-receipt.svg" class="mb-2" alt="" />
                <h6 class="title-decorative">Reconciliation</h6>
            </div>
        </a>
    </li>
        </ul>

  </div>
</section>
