<div class="card-body">
    <div class="mb-4">
        <h2 class="mb-2">Recover Your Password</h2>
        <span>If you have lost your account password, simply enter your email address below. We'll send you an email with instructions to reset your password.</span>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="text-left col-lg-8" [formGroup]="form">
            <div class="form-group">
                <label for="reset-email" class="sr-only">Email Address</label>
                <input class="form-control form-control-lg" autofocus="" id="reset-email" placeholder="Email Address" formControlName="email">
            </div>
            <div class="text-center mb-4">
                <button class="btn btn-primary btn-block btn-lg" [disabled]="form.invalid" (click)="recoverPassword()">Reset password</button>
            </div>
        </div>
    </div>
    <!--end of row-->
</div>