@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/bootstrap";

body {
  font-family: Roboto, SansSerif;
  margin: 0;
}

.animated {
  animation-duration: .8s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: .75s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

mat-horizontal-stepper.disabled-header  {
    .mat-horizontal-stepper-header {
      pointer-events: none !important;
    }
}
