// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.

// Elements Theme Variables

$white:    #fff;
$gray-100: #f8f9fc;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #78849c;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #5F6B82;
$black:    #000;

$purple: #6772e5;
$electric-blue: #020080;
$blue: #477bff;

$line-height-base: 1.8;

$enable-rounded: true;
$enable-gradients: false;

$btn-font-weight: 600;

$body-bg: $white;
$body-color: $gray-600;
$headings-color: #062a51;

$lead-font-weight: 300 !important;

$font-family-sans-serif: 'Proxima Nova',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$headings-font-weight: 300;

$color-bg-secondary: #f8f9fc;
$color-dark: $black;

$font-size-base: 0.9375rem;