<app-header></app-header>
<section class="bg-white space-sm pb-4">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
        <h1 class="h2">Account Settings</h1>
      </div>
      <div class="col-auto text-right">
      </div>
    </div>
  </div>
</section>
<section class="bg-white flush-with-above space-0">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link" routerLink="profile" routerLinkActive="active">Personal Particulars</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="bank-accounts" routerLinkActive="active">Bank Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="notifications" routerLinkActive="active">Notifications</a>
            </li>
          </ul>
        </div>
        <!--end of col-->
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </div>
</section>
<section class="flush-with-above height-80 d-block">
  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>
</section>
