<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-info text-small mb-0" role="alert">
        <i class="icon-shield"></i>
        <span>
                                            We will never distribute your email address to third parties. Read about email communication in our privacy policy.
                                        </span>
        <a href="#">View privacy policy ›</a>
      </div>
    </div>
    <!--end of col-->
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <form>
        <h5 class="mb-4">Notification Preferences</h5>
        <div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="notify-mention" checked="" id="notify-mention">
            <label class="custom-control-label" for="notify-mention">Someone mentions me</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="notify-request" checked="" id="notify-follow">
            <label class="custom-control-label" for="notify-follow">Someone follows me</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="notify-share" checked="" id="notify-share">
            <label class="custom-control-label" for="notify-share">Someone shares my activty</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="notify-message" checked="" id="notify-message">
            <label class="custom-control-label" for="notify-message">Someone messages me</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="notify-adds" checked="" id="notify-adds">
            <label class="custom-control-label" for="notify-adds">Someone adds me to a project</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" name="notify-sales" id="notify-sales">
            <label class="custom-control-label" for="notify-sales">Sales and promotions</label>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary mt-4" disabled="">Update preferences</button>
      </form>
    </div>
    <!--end of col-->
  </div>
  <!--end of row-->
  <hr>
  <div class="row">
    <div class="col-12">
      <form>
        <h5>Notification Frequency</h5>
        <div>
          <div class="custom-control custom-radio">
            <input id="notify-daily" type="radio" class="custom-control-input" value="notify-daily" name="notify-frequency">
            <label class="custom-control-label" for="notify-daily">Daily</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-radio">
            <input id="notify-weekly" type="radio" class="custom-control-input" value="notify-weekly" name="notify-frequency" checked="">
            <label class="custom-control-label" for="notify-weekly">Weekly</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-radio">
            <input id="notify-monthly" type="radio" class="custom-control-input" value="notify-monthly" name="notify-frequency">
            <label class="custom-control-label" for="notify-monthly">Monthly</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-radio">
            <input id="notify-never" type="radio" class="custom-control-input" value="notify-never" name="notify-frequency">
            <label class="custom-control-label" for="notify-never">Never</label>
          </div>
        </div>
        <button type="submit" class="btn btn-secondary mt-4" disabled="">Update frequency</button>
      </form>
    </div>
    <!--end of col-->
  </div>
  <!--end of row-->
</div>
